$color-primary: #67c23a;//#18c79c
$color-border:#eee;
$color-border-red:#f2191a;
$color-dx:#ed1844;
$color-default:#333;
$color-white:#fff;
$color-gray:#999;
.clearfix:after {
    content: " ";
    display: block;
    ;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}

.icon-home{
    width: 0.68rem;
    height:0.63rem;
    background-position: -1rem -0.27rem;
}
.icon-home-red{
    width: 0.68rem;
    height:0.63rem;
    background-position: -1rem -1.07rem;
}
.icon-sort-red{
    width: 0.63rem;
    height:0.63rem;
    background-position: -1.92rem -1.02rem;   
}
.icon-sort{
    width: 0.68rem;
    height:0.63rem;
    background-position: -1.92rem -0.27rem;   
}
.icon-cart{
    width: 0.68rem;
    height:0.65rem;
    background-position: -2.83rem -0.27rem;   
}
.icon-cart-red{
    width: 0.68rem;
    height:0.65rem;
    background-position: -2.83rem -1.07rem;   
}
.icon-my{
    width: 0.68rem;
    height:0.63rem;
    background-position: -3.75rem -0.27rem;   
}
.icon-my-red{
    width: 0.68rem;
    height:0.63rem;
    background-position: -3.75rem -1.07rem;   
}
.icon-dx-write{
    width: 1.19rem;
    height: 1.19rem;
    background-position: -1.05rem -3.28rem;
}
.icon-search{
    width: 0.67rem;
    height: 0.61rem;
    background-position: -5.5rem -1.74rem;
}
.icon-dx-back{
    width: 0.67rem;
    height: 0.61rem;
    background-position: -2.43rem -4.74rem;
}
.icon-xinpin{
    width: 1rem;
    height: 1rem;
    background-position: -3.44rem -3.38rem;
}
.icon-jianyi{
    width: 1rem;height: 1rem;
    background-position: -8.28rem -3.35rem;
}
.icon-youhuima{
    width: 1rem;
    height: 1rem;
    background-position:-3.41rem -5.76rem;
}
.icon-zhoubian{
    width: 1rem;
    height: 1rem;
    background-position:-7.14rem -2.04rem;   
}
.icon-rexiao{
    width: 0.35rem;
    height: 0.35rem;
    
    background-position: -0.51rem -0.88rem;
}
.icon-like{
    width: 0.5rem;
    height: 0.5rem;
    background-position: -3.58rem -2.28rem;	

}
