$color-primary: #ff0000; //#18c79c
$color-border:#eee;
$color-border-red:#ff0000;
$color-dx:#ff0000;
$color-default:#333;
$color-white:#fff;
$color-gray:#999;
$color-black:#111;
.mt10 {
    margin-top: 1rem;
}
.color-black {
    color: $color-black;
}

.column-style {
    overflow: hidden;
    padding: 0 1rem;
    .spdetail {
        width: 50%;
        float: left;
        a {
            max-width: 100%;
            background: #fff;
            display: block;
            margin-bottom: 5px;
            .right {
                padding: 0 1rem;
            }
            .sP {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                color: #333;
                font-size: 1.4rem;
            }
            img {
                max-width: 100%;
            }
            .sh6 {
                color: #f00;
                font-size: 1.6rem;
            }
        }
    }
}

.column-style .spdetail:nth-child(2n) a {
    margin-left: 1rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 400px;
    a {
        text-decoration: underline;
    }
}

.mt15 {
    margin-top: 1.5rem;
}

.font-15 {
    font-size: 1.5rem;
}

.font-16 {
    font-size: 1.6rem;
}

.promotion {
    display: inline-block;
    background: #fcdadb;
    padding: 0.2rem;
    margin-top: 0.5rem;
    color: #d32122;
    font-size: 1.2rem;
}

.cartCol .min-add {
    float: right;
    padding-right: 1rem;
}

.min-add .min,
.min-add .add {
    color: #333;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
    font-size: 14px;
    margin-left: 3px;
}

.min-add .min,
.min-add .add,
.min-add input {
    display: inline-block;
}

.min-add input {
    font-size: 14px;
    width: 50px;
    text-align: center;
    background: #f5f5f5;
    border: 0 none;
    height: 26px;
}

.address li {
    display: flex;
    background: #fff;
    padding: 1rem;
    cursor: pointer;
}

.address p {
    flex: 1;
    strong {
        display: block;
        color: #333
    }
}

.chooseAddress {
    .zeroAddress {
        background: #fff;
        padding: 10px
    }
}

.spjs {
    width: 100%;
}

.spjs img {
    max-width: 100%;
}

.gk li {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    .title {
        width: 40%;
    }
}

.font-14 {
    font-size: 1.4rem;
}

.font-12 {
    font-size: 1.2rem;
}

.foot {
    background: #fff;
    border-top: 1px solid $color-border;
    position: fixed;
    height: 5rem;
    z-index: 31;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    button {
        background: $color-dx;
        color: #fff;
        height: 100%;
        border: 0 none;
        padding-left: 2rem;
        padding-right: 2rem;
        cursor: pointer;
    }
    .miaoshagou {
        letter-spacing: 1rem;
        width: 100%;
    }
    .jrgwc {
        float: right;
    }
    .cart {
        color: #666;
        text-align: center;
        margin-right: 3rem;
        font-size: 1rem;
        float: right;
        margin-top: 1rem;
        i {
            display: block;
            font-size: 2rem;
        }
    }
}

.btn-dx {
    background: $color-dx;
    color: #fff;
    border: 0 none;
    padding: 0.4rem;
    cursor: pointer;
}

.btn-dx:hover {
    background: #24a8fc;
    color: #fff
}

.ghost-dx {
    background: 0 none;
    border: 1px solid $color-dx;
    padding: 3px 10px;
    color: $color-dx;
    cursor: pointer;
}

.btn-orange {
    background: #ff9600;
    border: 0 none;
}

.price {
    font-size: 1.6rem;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.color-dx {
    color: #ff0000
}

.demo-carousel {
    text-align: center;
}

.demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
}

@keyframes ani-demo-spin {
    from {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ivu-icon-ios-arrow-back {
    font-size: 2.8rem;
    position: relative;
    top: 0.5rem;
}

input,
textarea {
    outline: 0;
}

.user-con-wrap {
    margin: 1rem;
}

//登录注册头部
.ding {
    padding-top: 2.5rem;
    h3 {
        font-weight: bold;
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    h6 {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }
}

.color-gray {
    color: #999;
}

.icon-home{
    width: 3.4rem;
    height:3.15rem;
    background-position: -5rem -1.35rem;
}
.icon-home-red{
    width: 3.4rem;
    height:3.15rem;
    background-position: -5rem -5.35rem;
}
.icon-sort-red{
    width: 3.15rem;
    height:3.15rem;
    background-position: -9.6rem -5.1rem;   
}
.icon-sort{
    width: 3.4rem;
    height:3.15rem;
    background-position: -9.6rem -1.35rem;   
}
.icon-cart{
    width: 3.4rem;
    height:3.25rem;
    background-position: -14.15rem 1.35rem;   
}
.icon-cart-red{
    width: 3.4rem;
    height:3.25rem;
    background-position: -14.15rem -5.35rem;   
}
.icon-my{
    width: 3.4rem;
    height:3.15rem;
    background-position: -18.75rem -1.35rem;   
}
.icon-my-red{
    width: 3.4rem;
    height:3.15rem;
    background-position: -18.75rem -5.35rem;   
}
.icon-dx-write{
    width: 5.95rem;
    height: 5.95rem;
    background-position: -5.1rem -16rem;
}
.icon-search{
    width: 3.35rem;
    height: 3.05rem;
    background-position: -27.5rem -8.7rem;
}
.icon-dx-back{
    width: 3.35rem;
    height: 3.05rem;
    background-position: -12.15rem -23.75rem;
}
.icon-xinpin{
    width: 5rem;
    height: 5rem;
    background-position: -17.2rem -16.8rem;
}
.icon-jianyi{
    width: 5rem;height: 5rem;
    background-position: -41.4rem -16.75rem;
}
.icon-youhuima{
    width: 5rem;
    height: 5rem;
    background-position:-17.05rem -28.8rem;
}
.icon-zhoubian{
    width: 5rem;
    height:5rem;
    background-position:-35.8rem -10.2rem;   
}
.icon-rexiao{
    width: 1.75rem;
    height: 1.75rem;
    
    background-position: -25.05rem -4.4rem;
}
.icon-like{
    width: 2.5rem;
    height: 2.5rem;
    background-position: -17.9rem -11.4rem;	
}
.header-home-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: 28;
    padding-top: 0.6rem;
}

.home-box {
    position: fixed;
}

.sort-box {
    position: relative;
    padding-bottom: 0.6rem;
    .icon-back {
        position: absolute;
        left: 1.5rem;
        color: #666;
        top: 0rem;
        font-size: 1.6rem;
    }
}

.SearchBarWrapper {
    padding-left: 4.4rem;
    padding-right: 4.4rem;
}

.search input {
    border: 0;
    font-size: 1.2rem;
    display: inline-block;
    background: 0;
    text-indent: 2px;
    width: 100%;
    vertical-align: middle;
    color: #999;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
}

.inputwrap {
    position: absolute;
    left: 0;
    top: 0.2rem;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 1rem;
    padding-top: 0.2rem;
}

.login-ing {
    height: 100%;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
    color: #fff;
}

.search-button {
    position: absolute;
    right: 5px;
    border-radius: 4px;
    top: 0.8rem;
    font-size: 1.4rem;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}

.search {
    position: relative;
    background: #fff;
    border-radius: 0.5rem;
    height: 2.5rem;
    overflow: hidden;
}

.search-form-icon {
    display: inline-block;
    position: relative;
    float: left;
    vertical-align: top;
    width: 1.6rem;
    height: 1.6rem;
    background-size: contain;
    top: .4rem;
    margin: 0 .3125rem 0 .625rem;
}

.m_header_bar.bg-red {
    background: #f00;
    color: #fff;
}
.m_header_bar.bg-blue{
    background: #0099ff;
}
.bg-red .ivu-icon-ios-arrow-back {
    color: #fff;
}

.m_header_bar {
    display: flex;
    height: 4.4rem;
    background-color: #fff;
    position: relative;
    cursor: pointer;
    width: 100%;
    .m_header_bar_back {
        position: absolute;
        top: 0;
        display: block;
        width: 4.4rem;
        height: 4.4rem;
        line-height: 4.4rem;
        text-align: center;
        color: #999;
    }
    .m_header_bar_title {
        padding-left: 4.4rem;
        padding-right: 4.4rem;
        height: 4.4rem;
        line-height: 4.4rem;
        font-size: 1.8rem;
        text-align: left;
        flex: 1;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .m_header_bar_menu {
        display: block;
        width: 4.4rem;
        height: 4.4rem;
        line-height: 4.4rem;
        font-size: 1.4rem;
        position: absolute;
        right: 0;
        cursor: pointer;
        text-align: center;
    }
}

.bg-red .m_header_bar_title {
    text-align: center;
}

.m_header_bar:after {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: #e5e5e5;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
}

.order {
    .flex-ul {
        background: #fff;
        padding: 0 1.5rem;
        li {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            border-bottom: 1px solid #eee;
            height: 4.5rem;
            line-height: 4.5rem;
            padding: 0 1rem;
            font-size: 1.6rem;
            color: #111;
            label {
                cursor: pointer;
            }
        }
        li>span:first-child {
            flex: 1;
        }
    }
}

.login {
    padding: 3rem 1.5rem;
    background: #fff;
    overflow: hidden;
    h3 {
        color: $color-dx;
        font-weight: 100;
    }
    .btn-login {
        width: 100%;
        border-radius: 5rem;
        padding: 1rem 0;
    }
    .re {
        float: right;
        margin-top: 4rem;
        color: #333;
        font-size: 1.2rem;
    }
}

.order-list {
    padding: 0 10px;
    background: #fff;
    font-size: 1.6rem;
    li {
        padding: 10px 0;
        border-bottom: 1px solid $color-border;
        display: flex;
        cursor: pointer;
        position: relative;
    }
    img {
        height: 2rem;
        width: 2rem;
        margin-right: 1.5rem;
    }
    span {
        flex: 1;
    }
}

.goodslist div {
    background: #fff;
    position: relative;
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 5px;
    a {
        display: block;
    }
    label {
        background: $color-dx;
        color: #fff;
        padding: 5px;
        font-size: 1.2rem;
        position: absolute;
        left: 0;
        top: 0;
    }
    img {
        max-width: 100%;
    }
    span {
        display: block;
        padding: 0.5rem 0 0;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    h4 {
        color: $color-dx;
        font-weight: normal;
        text-align: left;
        padding: 0.5rem 0;
    }
}

.product {
    .spdetail a {
        display: flex;
        background: #fff;
        img {
            width: 30%;
            height: 30%
        }
        .right {
            width: 65%;
            border-bottom: 1px solid #eee;
            background: #fff;
            margin-left: 1rem;
            padding-right: 1rem;
        }
        .sP {
            font-size: 1.4rem;
            margin-top: 1rem;
            text-align: left;
            color: #333
        }
        .sh6 {
            color: $color-dx;
            text-align: left;
            background-color: $color-white;
            padding-bottom: 0.5rem;
            overflow: hidden;
            margin-top: 0.5rem;
            font-size: 1.6rem;
        }
    }
}

//订单列表-s
.orderstatus {
    color: #ff0000;
    float: right;
}

.splist {
    font-size: 1.4rem;
    li {
        margin-bottom: 1rem;
        background: #fff;
        padding: 0 1rem;
    }
}
.splist .sphead {
    border-top: 1px solid #eee;
    overflow: hidden;
    padding: 1rem 0;
    display: flex;
    cursor: pointer;
}
.sphead img {
    width: 5rem;
    height: 5rem;
    border-radius: 1rem;
    margin-right: 1rem;
}
.title {
    width: 15rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.xq {
    margin-right: 1rem;
    flex: 1;
}
.price {
    float: right;
    text-align: right;
}
.orderno {
    padding: 1rem 0;
    color: #999;
    span {
        font-weight: bold;
    }
    p {
        margin-bottom: 5px;
    }
}
.sptitle {
    border-top: 1px solid #eee;
    height: 3.6rem;
    line-height: 3.6rem;
    text-align: right;
    span {
        margin-right: 1rem;
    }
}
.cz {
    //      border-top:1px solid #eee;
    //      text-align:right;
    //      padding: 0.5rem;
    button {
        margin-right: 0.5rem;
    }
}
.btn {
    padding: 0.3rem 1rem;
    background: #fff;
    border-width: 1px;
    border-style: solid;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn-dx {
    border-color: #ff0000;
    color: #ff0000;
}

//订单列表-e
//为空界面
.empty p {
    font-size: 1.6rem;
    margin: 2rem 0;
}

.empty a {
    border: 1px solid #f00;
    text-align: center;
    width: 10rem;
    height: 3.2rem;
    color: #f00;
    background: #fff;
    line-height: 3.2rem;
    text-decoration: none;
    border-radius: 0.5rem;
    font-size: 1.6rem;
}

.btn-red-fixed {
    position: fixed;
    bottom: 0;
}
.btn-red{
     background: red;
}
.btn-red-fixed,
.btn-red, .btn-blue {
   height: 4rem;
    text-align: center;
    width: 100%;
    color: #fff;
    font-size: 1.6rem;
    border: 0 none;
}
.btn-blue{
    background: #0099ff;
    border-radius: 0.5rem;
}
.form_wrap{
    margin-top: 10px;
        background: #fff;
        font-size: 16px;
    
}
.btn-wrap{
    margin:3rem 3rem 0;
}
